.navbar {
    display: flex;
    width: 100%;
    &-list {
        display: flex;
        list-style: none;
        color: #FFFF;
        width: 90%;

        &--item {
            display: flex;
            // padding: 1rem;
        }
    }
}