.navbar {
    display: flex;
    background-image: url("../../images/NavbarWave.svg");
    background-repeat: no-repeat;
    background-size: auto;
}

.menuHidden {
    visibility: hidden;
}

.menuOpen {
    visibility: visible;
    display: flex;
    background-color: white;
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 999;
}

.btnMenu {
    display: flexa;
    justify-content: center;
    width: 2.5rem;
    height: 2rem;
    border: none;
}

.hamburguer-menu {
    max-height: 4rem;
    width: 100%;
    background-color: transparent;
}

.menu-list {
    list-style: none;
}

ul {
    list-style: none;
}